body {
    background-color: darkred;
    margin: 0;
    text-align: center;
    font-family: Helvetica;
    min-height: 400px;
    margin-bottom: 100px;
    clear: both;
}

.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
}

.card {
    display: inline-block;
    border: 2px white solid;
    border-radius: 5px;
    max-width: 400px;
    max-height: 400px;
    margin: 15px 20px;
    padding: 2%;
    background-color: #333;
    color: white;
}

img {
    height: 150px;
}

footer {
    width: 100%;
    color: white;
    background-color: #333;
    padding: 20px;
    position: fixed;
    left: 0;
    bottom: 0;
}